/* CORPO */

 body {
 	font-family: Nunito, sans-serif;
 	color: #1c1c1c;
 }

 h1 {
 	font-style: American Typewriter, serif;
 	color: #000000;
 }

h2 {
	font-style: Yellowtail, sans-serif;
	color: darkblue;

}

table {
	border-collapse: collapse;
	border: 3px solid rgb(100, 130, 40);
	width: 100%;

}
caption {
	color: darkblue; 
	border-collapse: collapse;
	border: 4px solid rgb(100, 130, 40);
	width: 100%;

}
tbody {
	border-collapse: collapse;
	border: 3px solid rgb(100, 130, 40);
	font-size: 90%;
	font-style: italic;
	letter-spacing: 1px;
}

 thead {
 	color: darkred;
 }
 td {
 	border-collapse: collapse;
	border: 3px solid rgb(100, 130, 40);
 	text-align: center;
 	border: 1px solid rgb (100, 130, 40);
 	color: darkred;
 }
  ol {

  	color: darkred; 
  }

 